* {
    box-sizing: border-box; /* Asegura que el padding y el borde se incluyan en el ancho y alto total */
}

body {
    
    margin: 0;
    font-family: 'DM Sans', sans-serif;
    color: #333;
    background-image: url('img/FondoHome12.png'); /* Ruta de la imagen de fondo */
    background-size: cover; /* Hace que la imagen cubra toda la página */
    background-position: center; /* Centra la imagen en la página */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; /* Fija la imagen al fondo mientras se desplaza el contenido */
}

.grid-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden; /* Evita desplazamiento horizontal */
}

/* Header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e5e5e5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    width: 100%;
    
}

/* Estilo de la lista de navegación */
.header-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 100%;
}

/* Logo */
.logo {
    width: 130px;
    height: auto;
}

/* Menu Central */
.menu {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-grow: 1;
    justify-content: center;
}

/* Icono de carrito */
.cart-icon .icon {
    width: 24px;
    height: 24px;
}
/* Icono de carrito */
.login-icon .icon {
    width: 24px;
    height: 24px;
}

/* Estilo de los enlaces */
.header-list a {
    text-decoration: none;
    font-weight: 600;
    color: #333;
    font-family: 'Playfair Display', serif;
    padding: 8px 12px;
}

.header-list a:hover {
    border-bottom: 2px solid #333;
}

/* Estilo Dropdown */
/* Estilo para el contenedor dropdown */
.dropdown {
    position: relative;
}

/* Estilo para el enlace que activa el menú */
.dropdown-toggle {
    cursor: pointer;
    color: #333;
}

/* Estilo para el menú */
.dropdown-menu {
    display: none; /* Inicialmente oculto */
    position: fixed; /* Fijo para cubrir la pantalla */
    top: 65px; /* Ajusta esto según la altura del header */
    left: 0; /* Alineado al borde izquierdo */
    width: 100vw; /* Ocupa todo el ancho de la ventana */
    height: calc(100vh - 100px); /* Ocupa todo el alto menos la altura del header */
    background-color: #e5e5e5; /* Fondo semitransparente */
    z-index: 10; /* Asegura que esté por encima de otros elementos */
    padding: 20px; /* Espaciado interno */
   
    overflow-y: auto; /* Permite desplazarse si el contenido es más alto que la ventana */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Distribuye en columnas */
}

/* Estilo para los enlaces dentro del menú */
.dropdown-menu a {
    color: #333333ae;
    display: block;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1.2em;
}

/* Efecto hover para los enlaces */
.dropdown-menu a:hover {
    border-bottom: none;
    color: #000000;
    

}
/* Mostrar el menú cuando el cursor esté sobre .dropdown */
.dropdown:hover .dropdown-menu {
    display: grid;
    
}
.dropdown:hover #main-content {
    display: none;
    
    
    
}





/* Sección Principal */
#main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    text-align: center;
    padding: 50px 20px;
}

.main-heading {
    font-family: 'Playfair Display', serif;
    font-size: 2.5em;
    font-weight: bold;
    margin: 0;
    color: #e5e5e5;
}

.main-subtext {
    font-family: 'DM Sans', sans-serif;
    font-size: 1.2em;
    color: #e1d9d9;
    margin-top: 15px;
    line-height: 1.5;
}

/* Botón de llamada a la acción */
.button-container {
    margin-top: 30px;
}

.explore-button {
    font-family: 'DM Sans', sans-serif;
    font-size: 1em;
    padding: 12px 30px;
    color: #e5e5e5;
    border: 2px solid #e5e5e5;
    background-color: transparent;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.explore-button:hover {
    background-color: #e5e5e5;
    color: #000000;
}

/* Imagen en la esquina inferior derecha */
.corner-logo {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    opacity: 0.8;
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
    .product-grid {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Ajuste para dispositivos más pequeños */
    }
}
